  /* .box{
      height: 200px;
      width: 500px;
      background: #CD5C5C;
    } */

    body{
      background-color: #efefef !important;
    }
    
    .centered{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }